<style>
    @font-face {
        font-family: "Alegreya";
        src: url({{ "/fonts/alegreya-ht-pro-full-pack-webfonts/Alegreya-Regular.woff2" }}) format('woff2'),
        url({{ "/fonts/alegreya-ht-pro-full-pack-webfonts/Alegreya-Regular.woff" }}) format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Alegreya Bold';
        src: url({{ "/fonts/alegreya-ht-pro-full-pack-webfonts/Alegreya-Bold.woff2" }}) format('woff2'),
        url({{ "/fonts/alegreya-ht-pro-full-pack-webfonts/Alegreya-Bold.woff" }}) format('woff');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: 'Alegreya Italic';
        src: url({{ "/fonts/alegreya-ht-pro-full-pack-webfonts/Alegreya-Italic.woff2" }}) format('woff2'),
        url({{ "/fonts/alegreya-ht-pro-full-pack-webfonts/Alegreya-Italic.woff" }}) format('woff');
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: 'Alegreya Bold Italic';
        src: url({{ "/fonts/alegreya-ht-pro-full-pack-webfonts/Alegreya-BoldItalic.woff2" }}) format('woff2'),
        url({{ "/fonts/alegreya-ht-pro-full-pack-webfonts/Alegreya-BoldItalic.woff" }}) format('woff');
        font-weight: bold;
        font-style: italic;
    }

    @font-face {
        font-family: 'Alegreya SC';
        src: url({{ "/fonts/alegreya-ht-pro-full-pack-webfonts/AlegreyaSC-Regular.woff2" }}) format('woff2'),
        url({{ "/fonts/alegreya-ht-pro-full-pack-webfonts/AlegreyaSC-Regular.woff" }}) format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Alegreya SC Medium';
        src: url({{ "/fonts/alegreya-ht-pro-full-pack-webfonts/AlegreyaSC-Medium.woff2" }}) format('woff2'),
        url({{ "/fonts/alegreya-ht-pro-full-pack-webfonts/AlegreyaSC-Medium.woff" }}) format('woff');
        font-weight: 500;
        font-style: italic;
    }

    @font-face {
        font-family: 'Alegreya SC Bold';
        src: url({{ "/fonts/alegreya-ht-pro-full-pack-webfonts/AlegreyaSC-Bold.woff2" }}) format('woff2'),
        url({{ "/fonts/alegreya-ht-pro-full-pack-webfonts/AlegreyaSC-Bold.woff" }}) format('woff');
        font-weight: bold;
        font-style: italic;
    }

    @font-face {
        font-family: "Alegreya Sans";
        src: url({{ "/fonts/alegreya-sans-ht-full-pack-webfonts/AlegreyaSans-Thin.woff2" }}) format('woff2'),
        url({{ "/fonts/alegreya-sans-ht-full-pack-webfonts/AlegreyaSans-Thin.woff" }}) format('woff');
        font-weight: 100;
        font-style: normal;
    }

    @font-face {
        font-family: "Alegreya Sans";
        src: url({{ "/fonts/alegreya-sans-ht-full-pack-webfonts/AlegreyaSans-Light.woff2" }}) format('woff2'),
        url({{ "/fonts/alegreya-sans-ht-full-pack-webfonts/AlegreyaSans-Light.woff" }}) format('woff');
        font-weight: 200;
        font-style: normal;
    }

    @font-face {
        font-family: "Alegreya Sans";
        src: url({{ "/fonts/alegreya-sans-ht-full-pack-webfonts/AlegreyaSans-Regular.woff2" }}) format('woff2'),
        url({{ "/fonts/alegreya-sans-ht-full-pack-webfonts/AlegreyaSans-Regular.woff" }}) format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Alegreya Sans Bold';
        src: url({{ "/fonts/alegreya-sans-ht-full-pack-webfonts/AlegreyaSans-Bold.woff2" }}) format('woff2'),
        url({{ "/fonts/alegreya-sans-ht-full-pack-webfonts/AlegreyaSans-Bold.woff" }}) format('woff');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: 'Alegreya Sans Italic';
        src: url({{ "/fonts/alegreya-sans-ht-full-pack-webfonts/AlegreyaSans-Italic.woff2" }}) format('woff2'),
        url({{ "/fonts/alegreya-sans-ht-full-pack-webfonts/AlegreyaSans-Italic.woff" }}) format('woff');
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: 'Alegreya Sans Bold Italic';
        src: url({{ "/fonts/alegreya-sans-ht-full-pack-webfonts/AlegreyaSans-BoldItalic.woff2" }}) format('woff2'),
        url({{ "/fonts/alegreya-sans-ht-full-pack-webfonts/AlegreyaSans-BoldItalic.woff" }}) format('woff');
        font-weight: bold;
        font-style: italic;
    }

    @font-face {
        font-family: "Alegreya Sans SC";
        src: url({{ "/fonts/alegreya-sans-ht-full-pack-webfonts/AlegreyaSansSC-Thin.woff2" }}) format('woff2'),
        url({{ "/fonts/alegreya-sans-ht-full-pack-webfonts/AlegreyaSansSC-Thin.woff" }}) format('woff');
        font-weight: 100;
        font-style: normal;
    }

    @font-face {
        font-family: "Alegreya Sans SC";
        src: url({{ "/fonts/alegreya-sans-ht-full-pack-webfonts/AlegreyaSansSC-Light.woff2" }}) format('woff2'),
        url({{ "/fonts/alegreya-sans-ht-full-pack-webfonts/AlegreyaSansSC-Light.woff" }}) format('woff');
        font-weight: 200;
        font-style: normal;
    }
    @font-face {
        font-family: "Alegreya Sans SC";
        src: url({{ "/fonts/alegreya-sans-ht-full-pack-webfonts/AlegreyaSansSC-Regular.woff2" }}) format('woff2'),
        url({{ "/fonts/alegreya-sans-ht-full-pack-webfonts/AlegreyaSansSC-Regular.woff" }}) format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Alegreya Sans SC Bold';
        src: url({{ "/fonts/alegreya-sans-ht-full-pack-webfonts/AlegreyaSansSC-Bold.woff2" }}) format('woff2'),
        url({{ "/fonts/alegreya-sans-ht-full-pack-webfonts/AlegreyaSansSC-Bold.woff" }}) format('woff');
        font-weight: bold;
        font-style: normal;
    }

 body {
     font-family: "Alegreya";
 }
</style>
